@import url("https://cdn.jsdelivr.net/gh/pengx17/logseq-dev-theme@latest/custom.css"); 
/* logseq-dev-theme  */
/* @import url("https://wangguanjingji.oss-cn-beijing.aliyuncs.com/picture/custom.css"); */

/* logseq-dracula */
/* @import url("https://wangguanjingji.oss-cn-beijing.aliyuncs.com/picture/logseq-dracula-custom.css"); */

@font-face {
  font-family: "Genshin";
  font-style: normal;
  font-weight: normal;
  src: url(https://static.wikia.nocookie.net/gensin-impact/images/6/65/Genshin_Impact_Font.woff)
    format("truetype");
}

.genshin {
  font-family: Genshin;
}

[title="Change from TODO to DOING"] {
    background-color: red;
    color: blue;
    visibility: visible;
    display:inline-block;  
    margin: 0 5px 0 20px;
    padding: 0 0 0 0px;
    }
[title="Change from DOING to TODO"] {
    color: var(--text-accent);
    background-color: var(--marker-switch-bgcolor);
    opacity: 0.8;
 /* display:inline-block;  --shows wrong, this is easiest fix for now, but show whole TODO/DOING instead of one letter T/D */
    margin: 0 5px 0 20px;
    padding: 0 0 0 0px;
}   
.doing:after {
    content:"🚧";
    display:inline-block;
    padding: 0 0px;
    margin: 0 0px;
    position: absolute;
    left: 63px;  
    }   